        @keyframes fade-in-up {
            0% {
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

       .in_article.stuck {
            position: fixed;
            bottom: 0px;
            left: 0px;
            transform: translateY(100%);
            animation: fade-in-up 0.25s ease forwards;
             z-index: 3;
        }

.pilot-video.slider {
  position: fixed;	
  right:-150px;
  display: none; 
  bottom:0px;
   z-index: 3;
}
.pilot-closeBtn{
cursor: pointer;
}


.video-js .vjs-big-play-button {
    left: 50% !important;
    top: 50% !important;
    width: 10%;
    height: 10%;
       border: none !important; 
       color:red;
       align-content: center;
      box-shadow: none !important; 
	  /* background-color: rgba(7, 20, 30, 0.7); */
}

.video-js .vjs-play-control:before {
    top:40% !important;
    content: '\f101';
    font-size: 48px;
}
